<section class="contact-section section" id="section-4">
  <div class="container">
      <div class="title">
          <h3>Contact Us</h3>
      </div>
      <div class="row">
          <div class="col-lg-5 col-md-6 mb-4 contact-form">
              <div class="form tm-contact-item-inner">
                  <form action="#" method="POST">
                    <mat-form-field class="form-group">
                      <div class="form-group">
                        <input matInput class="form-control"
                        placeholder="Ex. Pizza" value="Sushi">
                      </div>
                    </mat-form-field>

                    <mat-form-field class="form-group">
                      <mat-label>Leave a comment</mat-label>
                      <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
                    </mat-form-field>

                      <div class="form-group">
                          <input name="name" type="text" class="form-control" placeholder="Name">
                      </div>
                      <div class="form-group">
                          <input name="email" type="text" class="form-control" placeholder="Email">
                      </div>
                      <div class="form-group">
                          <textarea name="message" class="textarea form-control" placeholder="Message"></textarea>
                      </div>
                      <div class="form-group text-right">
                          <input type="button" class="btn btn-primary" value="Send it" (click)="salvar()">
                      </div>
                  </form>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-4 contact-details">
              <div class="tm-contact-item-inner-2">
                  <p>Nam mollis felis elementum, placerat dolor id, vehicula libero. Etiam dui nisl, mattis ut rhoncus et, cursus ut diam.</p>
                  <ul class="font-weight-light">
                      <li>
                          <span class="icn"><i class="fas fa-mobile-alt"></i></span>
                          <span class="lbl">Tel:</span> <a href="#">010-020-0340</a>
                      </li>
                      <li>
                          <span class="icn"><i class="fas fa-at"></i></span>
                          <span class="lbl">Email:</span> <a href="#">info@company.com</a>
                      </li>
                      <li>
                          <span class="icn"><i class="fas fa-globe-asia"></i></span>
                          <span class="lbl">URL:</span> <a href="#">www.company.com</a>
                      </li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-3 col-md-12 map">
              <!-- Map -->
              <div class="map-outer tm-mb-40">
                  <div class="gmap-canvas">
                      <iframe width="100%" height="400" id="gmap-canvas"
                          src="https://maps.google.com/maps?q=Av.+L%C3%BAcio+Costa,+Rio+de+Janeiro+-+RJ,+Brazil&t=&z=13&ie=UTF8&iwloc=&output=embed"
                          frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <footer class="footer container container-2">
      <div class="row">
          <p class="col-sm-7">Copyright 2021 Simply Amazed Co.</p>
          <p class="col-sm-5 text-right design">Design: <a rel="nofollow" href="https://www.tooplate.com" target="_parent">Tooplate</a></p>
      </div>
  </footer>
</section>
